In [1]:
# Importar librerÃ­as necesarias
import pandas as pd
import joblib
from sklearn.preprocessing import LabelEncoder, OneHotEncoder, StandardScaler

In [2]:
# Definir ruta del dataset limpio
data_path = "../data/final/sri_autos_final.csv"
output_path = "../data/final/sri_autos_features.csv"

In [3]:
# Cargar el dataset limpio
df = pd.read_csv(data_path, delimiter=';', encoding="latin-1", low_memory=False)

In [4]:
# Aplicar Label Encoding en variables categÃ³ricas principales
label_columns = ["modelo", "marca", "pais", "clase", "sub_clase","tipo_combustible"]
label_encoders = {}

In [5]:
for col in label_columns:
    encoder = LabelEncoder()
    df[col] = encoder.fit_transform(df[col].astype(str))  # Convertir a string antes de codificar
    label_encoders[col] = encoder  # Guardar el encoder

    # Guardar el encoder en un archivo para reutilizar en la predicciÃ³n
    joblib.dump(encoder, f"../models/encoders/label_encoder_{col}.pkl")

print("Label Encoders guardados correctamente.")

Label Encoders guardados correctamente.

In [6]:
# Guardar el dataset limpio

df.to_csv(output_path, index=False, sep=';')

In [7]:
# Mostrar cantidad de columnas finales
print(f"NÃºmero final de columnas: {df.shape[1]}")

NÃºmero final de columnas: 9

In [8]:
# ðŸ“Œ Mostrar vista previa del dataset transformado
df.head()

,marca,modelo,pais,year_modelo,clase,sub_clase,avaluo,cilindraje,tipo_combustible
0,20,744,10,2018,1,5,29990.0,2999,0
1,116,2463,17,2018,0,19,25990.0,1586,3
2,20,765,10,2018,1,0,27470.0,2499,0
3,20,2416,10,2018,0,18,19490.0,1485,3
4,116,1296,10,2018,2,15,27990.0,1995,3