In [61]:
# üìå Importar librer√≠as necesarias
import pandas as pd
import os

In [62]:
# üìå Definir la carpeta donde est√°n los archivos limpios
processed_folder = "../../data/processed/"  # Carpeta donde est√°n los CSV limpios
output_file = os.path.join(processed_folder, "sri_autos_2017_2024.csv")  # Archivo final

In [63]:
# üìå Lista de archivos limpios
years = list(range(2017, 2025))  # Desde 2017 hasta 2024
csv_files = [f"SRI_Vehiculos_Nuevos_{year}_Limpio.csv" for year in years]

In [64]:
# üìå Cargar y unir los archivos
dataframes = []
for file in csv_files:
    file_path = os.path.join(processed_folder, file)
    
    if os.path.exists(file_path):  # Verificar que el archivo existe
        df = pd.read_csv(file_path, delimiter=';', encoding="latin-1", low_memory=False)
        
        
        
        dataframes.append(df)
    else:
        print(f"‚ö†Ô∏è Archivo no encontrado: {file_path}")

In [65]:
# üìå Unir todos los datasets en un solo archivo
df_final = pd.concat(dataframes, ignore_index=True)
# üìå Guardar el dataset unificado
df_final.to_csv(output_file, index=False, sep=';')

In [66]:
# üìå Mostrar vista previa del dataset final
df_final.head()

,marca,modelo,pais,year_modelo,clase,sub_clase,tipo,avaluo,cilindraje,tipo_combustible,color
0,CHEVROLET,D-MAX CRDI 3.0 CD 4X2 TM DIESEL,ECUADOR,2018,CAMIONETA,DOBLE CABINA,LIVIANO,29990,2999,DIESEL,BLA
1,SUZUKI,SCROSS AC 1.6 5P 4X2 TM,HUNGRIA,2018,AUTOMOVIL,STATION WAGON,LIVIANO,25990,1586,GASOLINA,ROJ
2,CHEVROLET,D-MAX TD 2.5 CS 4X2 TM DIESEL,ECUADOR,2018,CAMIONETA,CABINA SIMPLE,LIVIANO,27470,2499,DIESEL,PLO
3,CHEVROLET,SAIL LS AC 1.5 4P 4X2 TM,ECUADOR,2018,AUTOMOVIL,SEDAN,LIVIANO,19490,1485,GASOLINA,ROJ
4,SUZUKI,GRAND VITARA SZ AC 2.0 5P 4X2 TM,ECUADOR,2018,JEEP,JEEP,LIVIANO,27990,1995,GASOLINA,PLO